/* Desktop & Tablet */
.dasktop {
    display: block;
}

.phone {
    display: none;
}

.category-title {
    font-size: small !important;
    font-weight: 600 !important;
    font-family: system-ui;
}

/* Only Mobile */
@media (max-width: 576px) {
    .dasktop {
        display: none;
    }

    .phone {
        display: block;
    }

    .timeline {
        display: none;
    }
}